.loader {
    background-color: white;
    opacity: 0;
}

.loader {
    opacity: 1;
    transition: opacity 3s ease-in-out;
    -moz-transition: opacity 3s ease-in-out;
    -webkit-transition: opacity 3s ease-in-out;
    // &::after {
    //     opacity: 1;
    //     content: url(/images/ohmyfood@2x.svg);
    // }
}



// body .loader {
//     opacity: 1;
//         transition: all 3s;
//         -webkit-transition: all 3s;
// }